/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */


body {
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    background: #292929;
    color: #040404;
    font-family: "Avenir Next", "Avenir", sans-serif;
}



.logo {
    width: 10px;
    height: 10px;
    padding: 1em;
    background-image: url("https://www.citypng.com/public/uploads/preview/hd-round-outline-green-tick-mark-symbol-icon-png-701751695051682nfiugbsalz.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    display: flex;
    position: relative;
    background-color: #333;
    padding: 10px 20px;
    padding-right: 70px;
    justify-content: space-between;
}

.search {
    width: 30%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #1f1f1f;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #040404;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #1f1f1f;
    background: #1f1f1f;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
search:before {
    content: "\f002";
    }
/* Menu code starts here */

#menuToggle {
    display: block;
    /* You can also use relative/absolute here if you want to stay on the top */
    position: fixed;
    top: 20px;
    right: 20px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #847b7b;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
    position: absolute;
    left: -900%;
    max-width: 400px;
    width: 100vw;
    max-height: 100vh;
    margin: -100px -50px 0 0;
    padding: 50px;
    padding-top: 125px;
    box-sizing: border-box;
    overflow-y: auto;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 100% 0%;
    transform: translate(600%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menu li label {
    cursor: pointer;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked~ul {
    transform: none;
}


.movie__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.movie__item {
    /* width: 200px; */
    width: 90%;
    text-align: center;
    background-size: cover;
    background-size: 100%;
    transition: background-size 5s cubic-bezier(0.23, 1, 0.32, 1);
}

.movie__item > h2 {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.movie__item.cover {
    height: 300px;
    background-position: center;
}

.movie__item:hover {
    background-size: 150%;
}

.item1 {
    background-image: url(https://forum.derivative.ca/uploads/default/original/2X/b/bc8c5bdb573c3587dd5ec7a51c47546ea3fe2475.jpeg);
}

.item3 {
    background-image: url(https://one-act-play.com/wp-content/uploads/2022/11/screen-shot-2022-11-09-at-9.40.34-pm.png?w=2046);
}

@media (max-width: 1024px) {
    main#desktop {
        display: none;
    }
}

@media (min-width: 1025px) {
    main#mobile {
        display: none;
    }
    
    main#desktop {
        display: block;
    }

    .movie__item {
        width: 45%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item1 {
        order: 1;
        flex-grow: 2;
    }
    .item2 {
        order: 2;
    }
    .item3 {
        order: 4;
        flex-grow: 2;
    }
    .item4 {
        order: 3;
    }
    .movie__list {
        gap: 0;
    }
}